language: php

php:
    - 5.5
    - 5.6
    - 7.0
    - hhvm

before_script:
    - travis_retry composer install --no-interaction

script:
    - vendor/bin/phpunit
    - vendor/bin/phpcs --standard=PSR2 src tests
